<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Video Stream</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #333;
            font-size: 36px;
            margin-bottom: 30px;
        }
        #video_feed {
            width: 80%;
            max-width: 800px;
            height: auto;
            
        }
        
    </style>
</head>
<body>
    <h1>Face Recognition Video Stream</h1>
    <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
</body>
</html>
